@{
    ViewData["Title"] = "Resultados";
}


<div class="container">
<h1>@ViewData["Title"]</h1>

<p><label>Nome: @ViewData["nome"]</label></p>
<p><label>Endereço: @ViewData["endereco"]</label></p>
<p><label>Telefone: @ViewData["telefone"]</label></p>
</div>